---
import { getCollection, render } from "astro:content";
import { SHOW_BUY_BUTTON } from "astro:env/server";
import Layout from "../../layouts/Layout.astro"; 
import AmazonLogo from "../../components/AmazonLogo.astro";
import git_projectScore from "../../components/git_projectScore.astro";
import BuyButton from "../../components/BuyButton.astro";

export async function getStaticPaths() {
  const git_projects = await getCollection("git_projects");

  return git_projects.map((git_project:git_project) => ({
    params: { id: git_project.slug },
    props: { git_project }
  }))
}

const { git_project } = Astro.props
const { data, slug } = git_project
const { title, author, img, readtime, description, buy } = data

const { Content } = await render(git_project)

export const prerender = true
---

<Layout title={`${title} - Dev git_projects`}>
  <div class="flex gap-12">
    <aside class="flex flex-col items-center gap-4">
      <a href='/' class="hover:underline opacity-70">← Volver atrás</a>
      <img transition:name={`img-${slug}`} class="rounded w-72 h-auto" src={`/${img}`} alt={title} />
      
      <git_projectScore server:defer id={slug}>
        <span slot="fallback" class="text-xs opacity-70">Cargando puntuación...</span>
      </git_projectScore>

      {
        SHOW_BUY_BUTTON && <BuyButton server:defer buy={buy} />
      }
    </aside>

    <main class="max-w-3xl">
      <h1 transition:name={`title-${slug}`} class="text-4xl font-bold mb-4">{title}</h1>
      <div class="prose prose-invert">
        <Content />
      </div>
    </main>
  </div>
</Layout>